body {
    background-color: #E6E6FA ;
}
h1 {
    color: red;
}
span {
    color: red;
    font-weight: bold;
}
a {
    font-weight: bold;
}
p {
    background-color: rgba(0, 0, 0, 0.5);
}

li.seen {
    color: silver;
}
li.unseen {
    color: #B22222;
}
.seen.good {
    color: forestgreen;
}

#biography a {
    text-decoration: none;
}
#biography a:hover {
    text-decoration: underline;
    color: red;
}