.outer {
    width: 80%;
    min-height: 80vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f46629+0,eaaa2a+45,47aeb7+70,23538a+100 */
background: #f46629; /* Old browsers */
background: -moz-linear-gradient(top,  #f46629 0%, #eaaa2a 45%, #47aeb7 70%, #23538a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f46629 0%,#eaaa2a 45%,#47aeb7 70%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f46629 0%,#eaaa2a 45%,#47aeb7 70%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f46629', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

}
.inner {
    width: 50%;
    margin: 10%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+75,000000+100&0.5+0,0.5+75,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


    color: white;
    padding: 1em;

    background-image: url('../img/reticule.png');
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;

    background: rgba(0, 0, 0, 0.5)  url('../img/reticule.png') center center/50% auto no-repeat scroll;
    
}
.smiling {
    width: 200px;
    height: 200px;
    background: transparent url('../img/smiley.png') center center/50% auto no-repeat scroll;
    border: 1px solid white;
}
.nebula {
    width: 100%;
    color: #ffffff;
    padding: 2em;
    background: transparent url('../img/nebula.jpg') left top/cover no-repeat fixed;
    box-sizing: border-box;
}