body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 4em;
    background-color: #999999;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; /* = 0 auto 0 auto */
    width: 1000px; /* a good measure for centralized designs */
}

.content p {
    border-left: 2px solid teal;
    padding-left: 1em;
}
.content p:first-letter {
    font-size: 3em;
    float: left;
    line-height: 1em; /* to make the height of the line exactly 3em */
}